.heart {
    background-color: red;
    display: inline-block;
    height: 10px;
    margin: 0 4px;
    position: relative;
    top: 0;
    transform: rotate(-45deg);
    width: 10px;
    margin-top: 5px;
    text-align: center;
}
.heart:before,
.heart:after {
    content: "";
    background-color: red;
    border-radius: 50%;
    height: 10px;
    position: absolute;
    width: 10px;
}
.heart:before {
    top: -5px;
    left: 0px;
}

.heart2 {
    transform: rotate(135deg);
    background-color: black;
}
.heart2:before,
.heart2:after{
    background-color: black;
}
.diamond {
    background-color: red;
    display: inline-block;
    height: 12px;
    margin: 0 4px;
    position: relative;
    top: 0;
    transform: rotate(-45deg);
    width: 12px;
    margin-top: 5px;
    text-align: center;
}
.club {
    background-color: black;
    display: inline-block;
    height: 20px;
    position: relative;
    top: -10px;
    margin: 0 3px;
    width: 20px;
    text-align: center;
    border-radius: 50%;
    z-index: 999;
    left: 2px;
}
.club::after,
.club::before{
    content: "";
    background-color: black;
    border-radius: 50%;
    height: 20px;
    position: absolute;
    width: 20px;
    top: 14px;
}
.club::before{
    left: -8px;
}
.club::after {
    left: 8px;
}
.bing{
  width: 30px;
  height: 30px;
  background: black;
  position: relative;
  /*overflow: hidden;*/
}
.bing::after{
  content: ' ';
  position: absolute;
  background:#FFF;
  width: 100%;
  height: 100%;
  left: 50%;
  border-radius: 50%;
}
.bing::before{
  content: ' ';
  position: absolute;
  background: #FFF;
  width: 100%;
  height: 100%;
  right: 50%;
  border-radius: 50%;
}