html{
  font-size: 12px;
}
body{
  margin: 0;
}
.heart, .loyalty {
    background-color: red;
    display: inline-block;
    height: 20px;
    margin: 0 4px;
    position: relative;
    top: 0;
    transform: rotate(-45deg);
    width: 20px;
    margin-top: 5px;
    text-align: center;
}
.heart:before,
.heart:after,
.loyalty:before,
.loyalty:after {
    content: "";
    background-color: red;
    border-radius: 50%;
    height: 20px;
    position: absolute;
    width: 20px;
}
.heart:before,
.loyalty:before {
    top: -9px;
    left: 0px;
}

.heart2 {
    transform: rotate(135deg);
    background-color: black;
}
.heart2:before,
.heart2:after{
    background-color: black;
}
.diamond {
    background-color: red;
    display: inline-block;
    height: 12px;
    margin: 0 4px;
    position: relative;
    top: 0;
    transform: rotate(-45deg);
    width: 12px;
    margin-top: 5px;
    text-align: center;
}
.club {
    background-color: black;
    display: inline-block;
    height: 20px;
    position: relative;
    top: -10px;
    margin: 0 3px;
    width: 20px;
    text-align: center;
    border-radius: 50%;
    z-index: 999;
    left: 2px;
}
.club::after,
.club::before{
    content: "";
    background-color: black;
    border-radius: 50%;
    height: 20px;
    position: absolute;
    width: 20px;
    top: 14px;
}
.club::before{
    left: -8px;
}
.club::after {
    left: 8px;
}
.shape{
  position: relative;
  margin: 14% auto;
  width: 40%;
  background-color: #FFF;
}
.bing{
  width: 30px;
  height: 15px;
  background: black;
  position: absolute;
  bottom: -7px;
  transform: rotate(180deg) translateZ(0);
}
.bing::after{
  content: ' ';
  position: absolute;
  background:#FFF;
  width: 100%;
  height: 30px;
  left: 50%;
  border-radius: 50%;
}
.bing::before{
  content: ' ';
  position: absolute;
  background: #FFF;
  width: 100%;
  height: 30px;
  right: 50%;
  border-radius: 50%;
}
.pokeman{
    width: 80px;
    border: 1px solid darkblue;
    border-radius: 10px;
    height: 100px;
    font-family: serif;
}
.pokeman .numTop, .pokeman .numBtm{
  padding: 3px 5px;
}
.pokeman .numBtm{
  transform: rotate(180deg);
}
.shapeHeart .heart2{
  transform: translateX(1px) translateY(-2px) rotate(135deg);
}
.shapeHeart .shape{
  margin: 10% auto;
}
.shapeDiamond .shape{
  margin: 10% auto;
}
.shapeHeart .heart2:after{
  top: 0;
  left: 9px;
}
.shapeDiamond .diamond{
    width: 28px;
    height: 28px;
    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: 2px;
}
.shapeDiamond .shape{
  margin-top: 0;
  margin-bottom: 0;
}
.shapeLoyalty .shape{
  margin: 10% auto;
}
.shapeLoyalty .loyalty{
  margin: 10% 6px;
}
/** timer **/
.timer{
    width: 80vw;
    height: 50vh;
    border-radius: 50%;
    border: 8rem solid red;
    box-sizing: border-box;
    margin: 0 auto;
}
/** pannel **/
.pannel {
  position: relative;
  width: 100%;
  height: 100vh;
  background: seagreen;
}
.banker{
  width: 25%;
  font-size: 12px;
  margin: 0 auto;
  overflow: hidden;
  display: block;
  height: 23rem;
}
.banker .position{
  width: 100%;
}
.banker .img{
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border:1px solid black;
  background: blueviolet;
  display: block;
  margin: 1rem auto;
}
.banker .name, .banker .points{
  width: 5rem;
  height: 2rem;
  background: orange;
  display: block;
  margin: .5rem auto;
}
.customer{
  position: absolute;
  bottom: 13rem;
  width: 100%;
  height: 10rem;
  background: orangered;
}
.wrapper{
  display: inline-block;
  width: 25%;
  height: 100%;
}
.position{
  display: block;
  width: 100%;
  height: 100%;
  font-size: 12px;
  overflow: hidden;
  position: relative;
  background: yellowgreen;
}
.position::before{
  display: inline-block;
  content: ' ';
  border: 1px solid slateblue;
  height: 100%;
}
.position::after{
    content: attr(data-index);
    position: absolute;
    left: 0;
    top: 0;
    width: inherit;
    text-align: center;
    font-size: 5rem;
    font-style: italic;
    font-weight: bolder;
    padding-top: 3rem;
}
.wrapper .img{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: 1px solid #000;
    background: #8a2be2;
    display: block;
    margin: 1rem auto;
}
.wrapper .name, .wrapper .points{
    width: 5rem;
    height: 2rem;
    background: orange;
    display: block;
    margin: .5rem auto;
}
/** position **/
.p1, .p2, .p3, .p4, .p5{
    position: absolute;
    top: 9px;
    background: #FFF;
}
.p1 {
  left: 0;
  z-index: 1;
}
.p2 {
  left: 20px;
  z-index: 2;
}
.p3 {
  left: 40px;
  z-index: 3;
}
.p4 {
  left: 60px;
  z-index: 4;
}
.p5 {
  left: 80px;
  z-index: 5;
}
/** poke animate **/
.animate1 {
  animation: a1 1s forwards ease-in;
  transform: translate(400px)
}
@keyframes a1{
  from {
    /*margin-left: 0;*/
    transform: scale(0) translateX(0) translateY(0)
  }
  to {
    /*margin-left: 100px;*/
    transform: scale(1) translateX(100px) translateY(476px);
    z-index: 7;
  }
}